.button {
    -fx-background-color: #4CAF50;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #43A047;
}

.button:pressed {
    -fx-background-color: #388E3C;
}

.date-picker .arrow-button {
    -fx-background-color: #4CAF50;
}

.date-picker .arrow-button:hover {
    -fx-background-color: #43A047;
}

.date-picker .arrow-button:pressed {
    -fx-background-color: #388E3C;
}

.combo-box {
    -fx-background-color: #4CAF50;

}

.combo-box:hover {
    -fx-background-color: #43A047;
}

.combo-box:pressed {
    -fx-background-color: #388E3C;
}

.error {
    -fx-text-fill: red;
    -fx-font-size: 16px;
}

.error-field {
    -fx-effect: dropshadow(three-pass-box, red, 5, 0, 0, 0);
}

.toggle-button {
    -fx-background-color: #4CAF50;
}

.toggle-button:hover {
    -fx-background-color: #43A047;
}

.toggle-button:pressed {
    -fx-background-color: #388E3C;
}