.combo-box {
    -fx-pref-height: 24px;
    -fx-font-size: 18px;
}

.date-picker {
    -fx-pref-height: 24px;
    -fx-font-size: 18px;
}

.scroll-pane {
    -fx-padding: 20px;
}

.hbox-top {
    -fx-padding: 20px 0px 20px 20px;
    -fx-background-color: lightgray;
    -fx-border-color: black;
    -fx-border-width: 0 0 1px 0;
}

.button {
    -fx-font-size: 18px;
}

.hbox-bottom {
    -fx-padding: 20px 0px 20px 0px;
    -fx-background-color: lightgray;
    -fx-border-color: black;
    -fx-border-width: 1px 0 0 0;
}

.title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-max-width: infinity;
    -fx-padding: 15px;
    -fx-border-color: black;
    -fx-border-width: 0 0 1px 0;
}

.combo-box {
    -fx-font-size: 16px;
}

.month-header {
    -fx-background-color: #F0F0F0;
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-border-width: 0 0 1px 0;
    -fx-spacing: 50px;
}

.month-header .label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.purchase-row {
    -fx-padding: 10px;
    -fx-spacing: 20px;
    -fx-border-color: black;
    -fx-border-width: 0 0 1px 0;
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 18px;
}

.purchase-row:hover {
    -fx-background-color: #F0F0F0;
}

.category-container {
    -fx-padding: 5px;
    -fx-spacing: 15px;
}
